@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --darker:#0B2447;
    --dark: #19376D;
    --light:#576CBC;
    --lighter:#A5D7E8;
    --bg-img:url("imgs/header-background.jpg");
}

*{
    margin:0;
    padding:0;
}

body {
    background-color:white;
    font-family: "Roboto", sans-serif;
}

a, button{
    cursor:pointer;
}

.header{
    display:flex;
    flex-direction:column;
    color:var(--dark);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0, 0.85)), var(--bg-img);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    min-height:85vh;
}

.logo{
    font-weight:900;
    font-size:48px;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 30px;
}

.header-links{
    list-style:none;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:24px;
    gap:30px;
}

.hero{
    display:flex;
    flex-direction:column;
    align-items:center;
    color: var(--darker);
    margin-top: auto;
    margin-bottom: auto;
    gap:20px;
}

.hero h1{
    color:white;
    font-size:48px;
}

.hero-text{
    width:1000px;
    text-align:center;
    color:white;
    text-shadow:2px black;
}

.hero-button{
    border: 2px solid white;
    border-radius: 8px;
    width:125px;
    height: 50px;
    font-size:16px;
    background-color: transparent;
    color:white;
    font-weight:600;
}

.main{
    color:var(--dark);
    text-align:center;
}

.main .title{
    margin:15px;
}

.main .characters{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}

.character-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
}

.character-img{
    overflow:hidden;
    height:425px;
    width:300px;
    border: 2px solid white;
    border-radius: 8px;
}

.synopsis-trailer{
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:200px;
}

.synopsis-title{
    margin-left:250px;
    height:auto;
    width:900px;
    text-align:start;
    display:flex;
    flex-direction: column;
    align-items:flex-start;

    h1{
        margin-bottom:20px;
    }
}

footer {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:100px;
    background-color:var(--darker);
    height:100px;
}

footer a i {
    color: white;
}